if loadfont /boot/grub/font.pf2 ; then
	set gfxmode=auto
	insmod efi_gop
	insmod efi_uga
	insmod gfxterm
	terminal_output gfxterm
fi

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

menuentry "Live (amd64)" {
	set gfxpayload=keep
	linux	/live/vmlinuz boot=live components quiet splash
	initrd	/live/initrd.img
}

menuentry "Live (amd64 failsafe)" {
	set gfxpayload=keep
	linux	/live/vmlinuz boot=live components memtest noapic noapm nodma nomce nolapic nomodeset nosmp nosplash vga=normal
	initrd	/live/initrd.img
}
