Package: live-filesystem-community-debian-core
Version: 2.0.0
Architecture: amd64
Maintainer: LinuxDeepin Project <linuxdeepin@linuxdeepin.com>, gfdgd xi<3025613752@qq.com>
Section: devel
Priority: extra
Conflicts: live-filesystem, live-filesystem-community-full, live-filesystem-community-tiny, live-filesystem-community-full-15.11, live-filesystem-community-debian, live-filesystem-community-debian-mini
Description: Deepin Community Live CD Debian Core
